<h2>Transações</h2>
<button routerLink="/transactions/new">Adicionar Nova Transação</button>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Tipo</th>
      <th>Categoria</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.description }}</td>
      <td>{{ transaction.value | currency }}</td>
      <td>{{ transaction.type }}</td>
      <td>{{ transaction.category }}</td>
      <td>{{ transaction.date | date }}</td>
      <td>
        <button [routerLink]="['/transactions/edit', transaction.id]">Editar</button>
        <button (click)="deleteTransaction(transaction.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
